.containers {
    display: flex;
    flex-direction: column;
    border: 2px solid lightgray;
    margin: 5%;
    border-radius: 2%;
    padding: 2%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    overflow-x: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}
i:hover{
    cursor: pointer;
    color:red

}
